<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com-github-marcob-alfred-datetime-utils</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>CFBBA03D-1BEE-4B6D-9632-961C17B0750B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94F629D9-D5E6-4A25-AA4C-CF5C29A3014C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6520F7F3-6DF2-4EE3-B082-D80E27851719</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Marco Bevacqua</string>
	<key>description</key>
	<string>Utils to convert dates to epoch timestamp and vice versa</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DateTime Utils</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>computing...</string>
				<key>script</key>
				<string>python time_utils.py "{query}"</string>
				<key>title</key>
				<string>Time Utils</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CFBBA03D-1BEE-4B6D-9632-961C17B0750B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>94F629D9-D5E6-4A25-AA4C-CF5C29A3014C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6520F7F3-6DF2-4EE3-B082-D80E27851719</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6520F7F3-6DF2-4EE3-B082-D80E27851719</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>94F629D9-D5E6-4A25-AA4C-CF5C29A3014C</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>CFBBA03D-1BEE-4B6D-9632-961C17B0750B</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/marcob/alfred-datetime-utils</string>
</dict>
</plist>
